<div class="desktop-mode">
    <div class="desktop-marquee">
      <p class="desktop-marqueeText">Unavailable on Desktop</p>
      <p class="desktop-marqueeText">Available only on Mobile</p>
      <p class="desktop-marqueeText">Switch to Mobile</p>
      <p class="desktop-marqueeText">Unavailable on Desktop</p>
      <p class="desktop-marqueeText">Available only on Mobile</p>
      <p class="desktop-marqueeText">Switch to Mobile</p>
      <p class="desktop-marqueeText">Unavailable on Desktop</p>
      <p class="desktop-marqueeText">Available only on Mobile</p>
      <p class="desktop-marqueeText">Switch to Mobile</p>
      <p class="desktop-marqueeText">Unavailable on Desktop</p>
      <p class="desktop-marqueeText">Available only on Mobile</p>
      <p class="desktop-marqueeText">Switch to Mobile</p>
    </div>
  </div>